@{
    ViewData["Title"] = "Jornada MSDev";
}


<div class="text-center">
    <h1 class="display-4">Leonardo de Souza Pinheiro</h1> <br>
</div>

<div>
    <p>
        Link do Projeto - GitHub
        <a href="https://github.com/LeonardPinheiro/ProjetoElevador"> Projeto Elevador </a>
    </p>
    
    <p>
        Link da Documentação - GitHub
        <a href="https://github.com/LeonardPinheiro/ProjetoElevador_Documentacao"> Projeto Elevador Documentação </a>
    </p>

    <hr>

</div>

<div>
    <h3>Informações sobre o programa Elevador</h3>

    <p>
        O programa começa apresentando o nome do projeto e em qual andar ele se inicia.<br>
        <img src="~/imgElevador/nomeDoProjeto.png " style="width:55%; height:35%;" alt="Img NomePojeto" />
    </p>

    <hr>

    <p>
        Logo após, ele informa ao usuário para entrar com informações, tais como andares, capacidade e quantidade de pessoas<br>
        <img src="~/imgElevador/pedeInformacoes.png " style="width:55%; height:35%;" alt="Img PedirInfo" />
    </p>

    <hr>

    <p>
        Após informar ao programa, uma página de menu é exibida, nela é possivel navegar utilizando os numeros de 1 a 4.<br>
        Sendo eles: <br>
        1 - Entrar, Acrescenta uma pessoa ao elevador.<br>
        2 - Sair, Retira uma pessoa do elevador.<br>
        3 - Subir, Faz o elevador subir 1 andar.<br>
        4 - Descer, Faz o elevador descer 1 andar.<br>
        <img src="~/imgElevador/menu.png " style="width:55%; height:35%;" alt="Img Menu"><br>
    </p>

    <hr>

    <p>
        Utilizando o número 1 do menu (Entrar) é possivel acrescentar pessoas ao elevador.<br>
        Não é permitido exceder a capacidade maxima de pessoas informada no inicio do programa.<br>
        <img src="~/imgElevador/usuarioInsereInfoPessoas.png" style="width:55%; height:35%;" alt="Img UserInsereInfo"><br>
    </p>

    <hr>

    <p>
        Utilizando o número 2 do menu (Sair) é possivel remover pessoas do elevador.<br>
        Não é permitido exceder a capacidade minima de pessoas informada no programa.<br>
        <img src="~/imgElevador/usuarioRemoveInfoPessoas.png" style="width:55%; height:35%;" alt="Img UserRemoveInfo"><br>
    </p>

    <hr>

    <p>
        Utilizando o número 3 do menu (Subir) é possivel subir o elevador 1 andar.<br>
        Não é permitido exceder a capacidade maxima de andares informada no inicio do programa.<br>
        <img src="~/imgElevador/usuarioSobeAndar.png " style="width:55%; height:35%;" alt="Img UserSubir"><br>
    </p>

    <hr>

    <p>
        Utilizando o número 4 do menu (Descer) é possivel descer o elevador 1 andar.<br>
        Não é permitido exceder a capacidade minima de andares informada no programa.<br>
        <img src="~/imgElevador/usuarioDesceAndar.png" style="width:55%; height:35%;" alt="Img UserDescer."><br>
    </p>

    <hr>
    <hr>
</div>

<div>
    <h3>Projeto Tela de Login</h3>

    <p>Link do Projeto no Google Drive: <a href="https://drive.google.com/file/d/1dKDitnFQqqIMVYZFq-MYdcIZyR7MXBYe/view?usp=sharing"> Tela de Login - Power Apps </a>.</p>


    <h4>Informações</h4>

    <p>
        Projeto simples feito utilizando a ferramenta da Microsoft Power Apps.
    </p>

    <p>
        <img src="~/imgTelaLogin/TelaLoginFunci.png" style="width:90%; height:75%;" alt="Img TelaLogin."><br>

        Descrição:<br>
        Possui o nome do app, duas caixas para entrada de dados - usuário e senha, dois botões - Recuperar e Enviar e um botão de ajuda.
    </p>

    <p>
        Visão da ferramenta.<br>
        <img src="~/imgTelaLogin/TelaLogin.png" style="width:90%; height:80%;" alt="Img TelaLoginFunci."><br>
    </p>
</div>
